.drink {
    border-radius: 10px;
    background-color: #1C1C1C;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #313030;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.drinkAlert {
    transition: all 100ms ease-out 200ms;
    animation: alert 5s linear infinite;
}

.drinkNameGraphContainer {
    width: 100%;
}

.drinkNameContainer {
    min-width: 0;
}

.drinkAlias {
    color: #FFFFFF;
    font-size: 18px;
    width: 45px;
    font-family: 'MonospaceTypewriter', monospace;
    font-weight: bold;
}

.drinkName {
    color: #FFFFFF;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* xs */
@media (min-width: 300px) {
    .drinkName {
        font-size: 32px;
        line-height: 32px;
    }
    .drinkPrice {
        font-size: 28px;
    }
}

/* sm */
@media (min-width: 576px) {
    .drinkName {
        font-size: 32px;
        line-height: 32px;
    }
    .drinkPrice {
        font-size: 28px;
    }
}

/* md */
@media (min-width: 768px) {
    .drinkName {
        font-size: 32px;
        line-height: 32px;
    }
    .drinkPrice {
        font-size: 28px;
    }
}

/* lg */
@media (min-width: 992px) {
    .drinkName {
        font-size: 32px;
        line-height: 32px;
    }
    .drinkPrice {
        font-size: 28px;
    }
}

/* xl */
@media (min-width: 1200px) {
    .drinkName {
        font-size: 32px;
        line-height: 32px;
    }
    .drinkPrice {
        font-size: 28px;
    }
}

/* xxl */
@media (min-width: 1400px) {
    .drinkName {
        font-size: 32px;
        line-height: 32px;
    }
    .drinkPrice {
        font-size: 28px;
    }
}

/* xxxl */
@media (min-width: 1700px) {
    .drinkName {
        font-size: 36px;
        line-height: 36px;
    }
    .drinkPrice {
        font-size: 32px;
    }
}

.drinkGraph {
    display: flex;
    align-items: center;
    padding-left: 0 !important;
}

.drinkGraphHidden {
    visibility: hidden;
}

.drinkGraphMoveUp {
    visibility: visible;
    animation: fade-in-move-up 1s;
}

.drinkGraphMoveDown {
    visibility: visible;
    animation: fade-in-move-down 1s;
}

.drinkPrices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    height: 100%;
}

.drinkPrices > span:last-child {
    width: 80px;
    font-size: 20px;
}

@keyframes fade-in-move-down {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-move-up {
    0% {
        opacity: 0;
        transform: translateY(+2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.drinkPrice {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    padding: 0 5px;
}

.drinkPriceChange {
    border-radius: 10px;
    text-align: center;
    padding: 0;
    color: #FFF;
}

.drinkNoLastPrice {
    background-color: rgb(53, 53, 58);
    box-shadow: rgb(53, 53, 58) 0px 0px 2px 1px;
    color: rgb(70, 70, 75);
    transition: all 300ms ease-out 800ms;
}

.drinkPriceChangeNegative {
    background-color: #ff3b2f;
    box-shadow: #ff3b2f 0px 0px 2px 1px;
    transition: all 300ms ease-out 800ms;
}

.drinkPriceChangePositive {
    background-color: #35c759;
    box-shadow: #35c759 0px 0px 2px 1px;
    transition: all 300ms ease-out 800ms;
}

.drinkPriceCrack {
    background-color: rgb(53, 53, 58);
    box-shadow: rgb(53, 53, 58) 0px 0px 2px 1px;
    transition: all 300ms ease-out 800ms;
}

@keyframes alert {
    25% {
        background-color: rgba(255, 59, 47, 0.5);
    }
    50% {
        background-color: rgba(28, 28, 28, 0.8);
    }
    75% {
        background-color: rgba(255, 59, 47, 0.5);
    }
}