html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #22252c !important;
}

a {
    color: inherit;
    text-decoration: none;
}

#la-bolsa-logo {
    border-radius: 10px;
    animation: fadeIn 500ms ease;
}

.admin-page {
    background-color: #FFF;
    height: 100vh;
    width: 100%;
}

.drinks-table-container {
    max-height: 600px;
    overflow-y: auto;
}

.admin-page table thead tr th.edit-drink,
.admin-page table thead tr th.delete-drink {
    width: 20px;
}

.admin-page table tbody td:nth-child(7),
.admin-page table tbody td:last-child {
    cursor: pointer;
}

.crack-button {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 1px 1px 5px 5px #5c5c5c;
    background-color: #F32424;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.crack-button:hover {
    filter: brightness(150%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }
    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}