html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.logo-container img {
    border-radius: 10px;
}

.admin-navbar {
    align-items: center;
}

.admin-navbar h1 {
    padding: 1.5rem 0;
    color: white;
}

.admin-page table tbody {
    cursor: pointer;
}

.admin-page table thead tr th.edit-drink,
.admin-page table thead tr th.delete-drink {
    width: 20px;
}